* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100px;
  background-color: #0000ff;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-size: 25px;

  color: #ffffff;
  padding-left: 30px;
}

.footer {
  height: 100px;
  background-color: #0000ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Helvetica";
  font-size: 25px;

  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 102px 110px 102px 110px;
}
.main-content {
  border: 5px solid #000000;
  width: 600px;
  height: 300px;
  font-family: "Helvetica";
  font-size: 50px;
  line-height: 57px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 20px;
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  .main {
    padding: 0;
  }
  .main-content {
    display: flex;
    width: 330px;
    height: 165px;
    flex-wrap: wrap;
    border: 5px solid #000000;
    font-family: "Helvetica";
    font-size: 25px;
    line-height: 29px;
  }

  .footer-back {
    display: none;
  }
}
